# Python Programming language üíª
## **Content**
* ### [Introduction](#intro)
* ### [Getting Started](#start)
* ### [Syntax](#syntax)
* ### Variables
* ### Operations
* ### Srings
 * #### Slicing
 * #### String methods
* ### Functions
* ### Classes
* ### Data Strutures
 * #### Lists
 * #### Tuples
 * #### Dicionary
 * #### Sets
* Files
* Modules

#  <a id='intro'>Introduction</a>
## What is Python ‚ùî
Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

**It is used for:**
* web development (server-side) like Django fw
* software development
* mathematics, Data science and Machine Leaning
* system scripting

## What can Python do?
* Python can be used on a server to create web applications.
* Python can be used alongside software to create workflows.
* Python can connect to database systems. It can also read and modify files.
* Python can be used to handle big data and perform complex mathematics.
* Python can be used for rapid prototyping, or for production-ready software development.

## Why Python?
* Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
* Python has a simple syntax similar to the English language.
* Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
* Python runs on an interpreter system, meaning that code can be executed as * * soon as it is written. This means that prototyping can be very quick.
* Python can be treated in a procedural way, an object-oriented way or a functional way.

## Good to know
* In this tutorial Python will be written in a Notebook. It is possible to write Python in an Integrated Development Environment, such as Thonny, Pycharm, Netbeans or Eclipse which are particularly useful when managing larger collections of Python files.

## Python Syntax compared to other programming languages
* Python was designed for readability, and has some similarities to the English language with influence from mathematics.
* Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.
* Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.

<a id=start></a>
# Python Install ‚è¨üíø
check if already installed 


```
$ python --version
```

Otherwise, donload and install it [www.python.org](https://www.python.org/)

Test it


```
$ python --version
Python 3.7.13
$ python
>>>  print("Hello, World")
Hello, World
```
Or, use this online Colab plateforme!

In [ ]:
! python --version
print("Hello, World")

Python 3.7.13
Hello, World


# Syntax ‚úÖ

### Python uses indentation to indicate a block of code.


```
while Condition ‚úÖ:
    do this ‚ùé
    and this ‚ùé
    plus this ‚ùé
Not this ‚ùå
```


### Define variable



```
a = 1
name = 'Che'
a = "Hola this String Replaced the integer 1, with no problem ‚úÖ"

```

## Commments üìì

In [ ]:
# This is a Comment in python
# print(" ** Impossible ** ") ‚õî
print(" ** Possible ** ")    #‚úÖ

 ** Possible **

In [ ]:
x, y, z = "Orange", "Banana", "Cherry" # assin multiple variables
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
x = y = z = "Orange"  # assign same value to multiple variables
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
fruits = ["apple", "banana", "cherry"]  # Unpack to variables
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

# Variables

### Creating Variables
Python has no command for declaring a variable.
A variable is created the moment you first assign a value to it.



```
name = 'Cherif'
age = '28yo'
print('my name is ', name)
print('I am ', age)
```

### Ouput variable
use print function 


```
x = "Python is awesome"
print(x)
```

In [ ]:
x = "Python is awesome"
print(x)

Python is awesome

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [ ]:
name = 'Cherif'
age = '28yo'
print('my name is ', name)
print('I am ', age)

my name is  Cherif
I am  28yo

### Casting üü• ‚û° üîµ
If you want to specify the data type of a variable, this can be done with casting.


```
a = str(7)    # a will be '7'
b = int(7)    # b will be 7
c = float(7)  # c will be 7.0

```
### Get the Type
You can get the data type of a variable with the type() function.

In [ ]:
a = str(7)    # a will be '7'
b = int(7)    # b will be 7
c = float(7)  # c will be 7.0

In [ ]:
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
# to float
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
# to String
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

# Data Types
Python has the following data types built-in by default, in these categories:



*   Text Type: *str*
*   Numeric Types:	*int, float, complex*
*   Sequence Types:	*list, tuple, range*
*    Mapping Type:	*dict*
*   Set Types:	*set, frozenset*
*   Boolean Type:	*bool*
*   Binary Types:	*bytes, bytearray, memoryview*
*   None Type:	*NoneType*


Example :

```
x = "Hello World"	# str	
x = 20	            # int	
x = 20.5	        # float	
x = 1j	            # complex	
x = ["apple", "banana", "cherry"]	# list	
x = ("apple", "banana", "cherry")	# tuple	
x = range(6)	                    # range	
x = {"name" : "John", "age" : 36}	# dict	
x = {"apple", "banana", "cherry"}	# set	
x = frozenset({"apple", "banana", "cherry"})	# frozenset	
x = True	                    #bool	
x = b"Hello"	              # bytes	
x = bytearray(5)	          # bytearray	
x = memoryview(bytes(5))	# memoryview	
x = None	                # NoneType
```

In [ ]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'complex'>
<class 'complex'>
<class 'complex'>

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

## Random Number
Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers


```
import random
print(random.randrange(1, 10))
```

# Strings ‚õì
Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function.

assign string to variable a
```
a = "Hello"
print(a)
```
You can assign a multiline string to a variable by using three quotes


```
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)
```

### Strings are Arrays ‚úî
```
a = "Hello, World"
print(a[0])  # will output first character 'H'
```

### We can slice a String ‚úÇ
print the five first chars:
```
a = "Hello, World"
print(a[:5])  # will output 5 first character 'Hello' üôã 
```

In [ ]:
a = "Hello, World"
print(a[:5])  # will output 5 first character 'Hello' üôã

Hello

In [ ]:
print(a[-5:])  # will output the 5 Last character 'World' ü™ê

World

In [ ]:
print(a[-5::2])  # use step 2

Wrd

In [ ]:
print(a[::-1])  # reverse it

dlroW ,olleH

### Looping Through a String

Since strings are arrays, we can loop through the characters in a string, with a for loop.

### String Length

To get the length of a string, use the len() function.

### Check String

To check if a certain phrase or character is present in a string, we can use the keyword in.

### String Method
The ***replace()*** method replaces a string with another string:
```
a = "Hello, World!"
print(a.replace("H", "J"))
```
The ***split()*** method returns a list where the text between the specified separator becomes the list items.
```
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']
```
To concatenate, or combine, two or more strings you can use the + operator.

```
a = "Hello"
b = "World"
c = a + " " + b
print(c)
```
String Fomatting 
Use the ***format()*** method to insert numbers into strings:

```
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))
```

```
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))
```

## More String Methods
Method	Description

<table class="ws-table-all notranslate">
<tbody><tr>
<th>Method</th>
<th>Description</th>
</tr>
  <tr>
    <td><a >capitalize()</a></td><td>Converts the first 
    character to upper case</td>
  </tr>
  <tr>
    <td><a >casefold()</a></td><td>Converts string into 
    lower case</td>
  </tr>
  <tr>
    <td><a >center()</a></td><td>Returns a centered 
    string</td>
  </tr>
  <tr>
    <td><a >count()</a></td><td>Returns the number of 
    times a specified value occurs in a string</td>
  </tr>
  <tr>
    <td><a >encode()</a></td><td>Returns an encoded 
    version of the string</td>
  </tr>
  <tr>
    <td><a >endswith()</a></td><td>Returns true if the 
    string ends with the specified value</td>
  </tr>
  <tr>
    <td><a>expandtabs()</a></td><td>Sets the 
    tab size of the string</td>
  </tr>
  <tr>
    <td><a>find()</a></td><td>Searches the string for a 
    specified value and returns the position of where it was found</td>
  </tr>
  <tr>
    <td><a >format()</a></td><td>Formats specified 
    values in a string</td>
  </tr>
  <tr>
    <td>format_map()</td><td>Formats specified 
    values in a string</td>
  </tr>
  <tr>
    <td><a >index()</a></td><td>Searches the string 
    for a specified value and returns the position of where it was found</td>
  </tr>
  <tr>
    <td><a >isalnum()</a></td><td>Returns True if all 
    characters in the string are alphanumeric</td>
  </tr>
  <tr>
    <td><a >isalpha()</a></td><td>Returns True if all 
    characters in the string are in the alphabet</td>
  </tr>
  <tr>
    <td><a >isdecimal()</a></td><td>Returns True if all 
    characters in the string are decimals</td>
  </tr>
  <tr>
    <td><a >isdigit()</a></td><td>Returns True if all 
    characters in the string are digits</td>
  </tr>
  <tr>
    <td><a>isidentifier()</a></td><td>Returns True if 
    the string is an identifier</td>
  </tr>
  <tr>
    <td><a>islower()</a></td><td>Returns True if all 
    characters in the string are lower case</td>
  </tr>
  <tr>
    <td><a >isnumeric()</a></td><td>Returns True if 
    all characters in the string are numeric</td>
  </tr>
  <tr>
    <td><a>isprintable()</a></td><td>Returns True if 
    all characters in the string are printable</td>
  </tr>
  <tr>
    <td><a>isspace()</a></td><td>Returns True if all 
    characters in the string are whitespaces</td>
  </tr>
  <tr>
    <td><a >istitle()</a></td>
    <td>Returns True if the string follows the rules of a 
    title</td>
  </tr>
  <tr>
    <td><a href="ref_string_isupper.asp">isupper()</a></td><td>Returns True if all 
    characters in the string are upper case</td>
  </tr>
  <tr>
    <td><a>join()</a></td><td>Joins the elements of 
    an iterable to the end of the string</td>
  </tr>
  <tr>
    <td><a>ljust()</a></td><td>Returns a left justified 
    version of the string</td>
  </tr>
  <tr>
    <td><a >lower()</a></td><td>Converts a string into 
    lower case</td>
  </tr>
  <tr>
    <td><a >lstrip()</a></td><td>Returns a left trim 
    version of the string</td>
  </tr>
  <tr>
    <td><a >maketrans()</a></td><td>Returns a 
    translation table to be used in translations</td>
  </tr>
  <tr>
    <td><a >partition()</a></td><td>Returns a tuple 
    where the string is parted into three parts</td>
  </tr>
  <tr>
    <td><a>replace()</a></td><td>Returns a string 
    where a specified value is replaced with a specified value</td>
  </tr>
  <tr>
    <td><a >rfind()</a></td><td>Searches the string for 
    a specified value and returns the last position of where it was found</td>
  </tr>
  <tr>
    <td><a >rindex()</a></td><td>Searches the string for 
    a specified value and returns the last position of where it was found</td>
  </tr>
  <tr>
    <td><a >rjust()</a></td><td>Returns a right justified 
    version of the string</td>
  </tr>
  <tr>
    <td><a >rpartition()</a></td><td>Returns a tuple 
    where the string is parted into three parts</td>
  </tr>
  <tr>
    <td><a >rsplit()</a></td><td>Splits the string at 
    the specified separator, and returns a list</td>
  </tr>
  <tr>
    <td><a >rstrip()</a></td><td>Returns a right trim 
    version of the string</td>
  </tr>
  <tr>
    <td><a >split()</a></td><td>Splits the string at 
    the specified separator, and returns a list</td>
  </tr>
  <tr>
    <td><a >splitlines()</a></td><td>Splits the string 
    at line breaks and returns a list</td>
  </tr>
  <tr>
    <td><a >startswith()</a></td><td>Returns true if 
    the string starts with the specified value</td>
  </tr>
  <tr>
    <td><a >strip()</a></td><td>Returns a trimmed version of the string</td>
  </tr>
  <tr>
    <td><a >swapcase()</a></td><td>Swaps cases, lower 
    case becomes upper case and vice versa</td>
  </tr>
  <tr>
    <td><a >title()</a></td><td>Converts the first 
    character of each word to upper case</td>
  </tr>
  <tr>
    <td><a>translate()</a></td><td>Returns a 
    translated string</td>
  </tr>
  <tr>
    <td><a>upper()</a></td><td>Converts a string 
    into upper case</td>
  </tr>
<tr><td><a>zfill()</a></td><td>Fills the string with 
  a specified number of 0 values at the beginning</td></tr>
</tbody></table>

# if Else and Boolean Variables

## Python Conditions and If statements
Python supports the usual logical conditions from mathematics:

* Equals: a == b
* Not Equals: a != b
* Less than: a < b
* Less than or equal to: a <= b
* Greater than: a > b
* Greater than or equal to: a >= b
* These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.


```
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")
```

# Python Loops
Python has two primitive loop commands:

* while loops
* for loops

## The while Loop
With the while loop we can execute a set of statements as long as a condition is true.

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

### The break Statement
With the break statement we can stop the loop even if the while condition is true:

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

### The continue Statement
With the continue statement we can stop the current iteration, and continue with the next:

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

### The else Statement
With the else statement we can run a block of code once when the condition no longer is true:

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

## Python For Loops
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

In [ ]:
for x in "banana":
  print(x)

### The range() Function
To loop through a set of code a specified number of times, we can use the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
for x in range(6):
  print(x)

# Python Functions
### Creating a Function
In Python a function is defined using the def keyword:

In [ ]:
def my_function():
  print("Hello from myfunction")

my_function()

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Cherif", "Bali")

In [ ]:
def my_function(country = "Algeria"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

In [ ]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry", "berboucha"]

my_function(fruits)

# Lambda 
A lambda function is a small anonymous function.
A lambda function can take any number of arguments, but can only have one expression.

*Syntax:*
```
lambda arguments : expression
```

In [ ]:
x = lambda a : a + 10
print(x(5))

In [ ]:
x = lambda a, b : a * b
print(x(5, 6))

## Why Use Lambda Functions?
The power of lambda is better shown when you use them as an anonymous function inside another function.

Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

In [ ]:
def myfunc(n):
  return lambda a : a * n

use the same function definition to make both functions, in the same program:

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

# Python Classes/Objects

Python is an object oriented programming language.
Almost everything in Python is an object, with its properties and methods.
A Class is like an object constructor, or a "blueprint" for creating objects.

## Create a Class
To create a class, use the keyword class:

In [ ]:
class MyClass:   # create class Myclass
  x = 5          # property  x

p1 = MyClass() # create a Myclass object 
print(p1.x)    # access to property of the class

## The __init__( ) Function
The examples above are classes and objects in their simplest form, and are not really useful in real life applications.

To understand the meaning of classes we have to understand the built-in ***__init__()*** function.

All classes have a function called ***__init__()***, which is always executed when the class is being initiated.

Use the ***__init__()*** function to assign values to object properties, or other operations that are necessary to do when the object is being created:

In [ ]:
class Person:
  def __init__(self, name, age): # Note: The __init__() function is called automatically every time the class is being used to create a new object.
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

## Lists

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are **Tuple**, **Set**, and **Dictionary**, all with different qualities and usage.

* **Ordered:**

When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

* **Changeable:**

The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

* **Allow Duplicates:**

Since lists are indexed, lists can have items with the same value:

# Python Collections (Arrays)

There are four collection data types in the Python programming language:

* **List** is a collection which is ordered and changeable. Allows duplicate members.
* **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
* **Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
* **Dictionary** is a collection which is ordered** and changeable. No duplicate members.

## List Comprehension
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.



***The Syntax:***
```
newlist = [expression for item in iterable if condition == True]
```

Example:
Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

With list comprehension you can do all that with only one line of code:

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

## List Methods
Python has a set of built-in methods that you can use on lists.

<table class="ws-table-all notranslate">
<tbody><tr>
<th>Method</th>
<th>Description</th>
</tr>
<tr><td><a >append()</a></td><td>Adds an element at 
  the end of the list</td></tr>
<tr><td><a >clear()</a></td><td>Removes all the 
  elements from the list</td></tr>
<tr><td><a >copy()</a></td><td>Returns a copy of the 
  list</td></tr>
<tr><td><a >count()</a></td><td>Returns the number of 
  elements with the specified value</td></tr>
<tr><td><a >extend()</a></td><td>Add the elements of a 
  list (or any iterable), to the end of the current list</td></tr>
<tr><td><a >index()</a></td><td>Returns the index of 
  the first element with the specified value</td></tr>
<tr><td><a >insert()</a></td><td>Adds an element at 
  the specified position</td></tr>
<tr><td><a >pop()</a></td><td>Removes the element at the 
  specified position</td></tr>
<tr><td><a>remove()</a></td><td>Removes the  
  item with the specified value</td></tr>
<tr><td><a>reverse()</a></td><td>Reverses the order 
  of the list</td></tr>
<tr><td><a>sort()</a></td><td>Sorts the list</td></tr>
</tbody></table>

## Tuple Method
<table class="ws-table-all notranslate">
<tbody><tr>
<th style="width:20%">Method</th>
<th>Description</th>
</tr>
<tr><td><a>count()</a></td><td>Returns the number of times a specified value occurs in a tuple</td></tr>
<tr><td><a>index()</a></td><td>Searches the tuple for a specified value and returns the position of where it was found</td></tr>
</tbody></table>

In [1]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# Dictionary
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [2]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [3]:
# Duplicate values will overwrite existing values:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}